/* #region global */
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");

:root {
  --md-sys-color-primary: rgb(153 60 21);
  --md-sys-color-surface-tint: rgb(160 65 26);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(185 83 43);
  --md-sys-color-on-primary-container: rgb(255 246 243);
  --md-sys-color-secondary: rgb(133 81 62);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(254 185 162);
  --md-sys-color-on-secondary-container: rgb(121 71 53);
  --md-sys-color-tertiary: rgb(107 95 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(190 172 64);
  --md-sys-color-on-tertiary-container: rgb(73 64 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(35 25 22);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(35 25 22);
  --md-sys-color-surface-variant: rgb(250 220 210);
  --md-sys-color-on-surface-variant: rgb(86 66 59);
  --md-sys-color-outline: rgb(138 114 106);
  --md-sys-color-outline-variant: rgb(221 192 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(58 46 42);
  --md-sys-color-inverse-on-surface: rgb(255 237 232);
  --md-sys-color-inverse-primary: rgb(255 181 155);
  --md-sys-color-primary-fixed: rgb(255 219 207);
  --md-sys-color-on-primary-fixed: rgb(56 13 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-primary-fixed-variant: rgb(128 42 3);
  --md-sys-color-secondary-fixed: rgb(255 219 207);
  --md-sys-color-on-secondary-fixed: rgb(52 16 4);
  --md-sys-color-secondary-fixed-dim: rgb(251 183 159);
  --md-sys-color-on-secondary-fixed-variant: rgb(105 58 41);
  --md-sys-color-tertiary-fixed: rgb(248 227 113);
  --md-sys-color-on-tertiary-fixed: rgb(33 28 0);
  --md-sys-color-tertiary-fixed-dim: rgb(218 199 88);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 71 0);
  --md-sys-color-surface-dim: rgb(234 214 208);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 236);
  --md-sys-color-surface-container: rgb(254 234 227);
  --md-sys-color-surface-container-high: rgb(248 228 222);
  --md-sys-color-surface-container-highest: rgb(242 222 216);

  --font-family: "Englebert", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  line-height: 1.5;
  font-size: 0.875rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--md-sys-color-on-surface);
}

a:hover {
  color: var(--md-sys-color-primary);
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--md-sys-color-on-surface-variant);
}

span {
  color: var(--md-sys-color-on-surface-variant);
}

.btn {
  /* TODO: add padding later, box-shadow */
  text-transform: uppercase;
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  letter-spacing: var(--spacing);
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

/* #endregion */

/* #region navbar */

.navbar {
  background: var(--md-sys-color-surface-container);
  padding: 0.5rem 2rem;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .logo {
  width: 4rem;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu {
  display: none;
}

.navbar .mobile-menu {
  display: block;
}

.navbar .mobile-menu-items {
  /* position: absolute; */
  position: fixed;
  z-index: 2;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  background: var(--md-sys-color-surface);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
}

.navbar .mobile-menu-list li {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  width: 60%;
  padding: 10px 0;
}

.navbar .mobile-menu-list li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.navbar .mobile-menu-list li:hover {
  background-color: var(--md-sys-color-inverse-primary);
  cursor: pointer;
}

.fa-bars {
  font-size: 2rem;
}

.navbar .main-menu-list,
.navbar .main-menu-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar li {
  font-size: 1.5rem;
}

.navbar a:hover {
  color: var(--md-sys-color-primary);
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}
/* #endregion */

/* #region hero */
.hero {
  background: linear-gradient(
    to bottom,
    rgba(255, 219, 207, 0.4) 0%,
    var(--md-sys-color-surface) 100%
  );

  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__container h1 {
  color: var(--md-sys-color-on-surface);
  font-size: 3.5rem;
  text-transform: uppercase;
  /* min-width: 300px; */
}

.hero__container p {
  font-size: 1.25rem;
}

.hero__btn {
  transition: var(--transition);
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
}

.hero__btn:hover {
  background: transparent;
  border: 2px solid var(--md-sys-color-primary);
  color: var(--md-sys-color-primary);
}

/* #endregion */

/* #region about */
.section__about--center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 3rem;
}

.section__about-img {
  position: relative;
}

.section__about-info {
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    color: var(--md-sys-color-on-surface-variant);
  }
  a {
    transition: var(--transition);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--md-sys-color-primary);
  }
  a:hover {
    background: transparent;
  }
}

/* #endregion */

/* #region services */
.section__services {
  background: var(--md-sys-color-surface-container);
}

.section__services--center {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  margin: 3rem;
}

.section__services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section__sercies-icon {
  font-size: 3rem;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.section__servcies-info h4 {
  font-size: 1.5rem;
}

/* #endregion */

/* #region tours */
.section__tours--center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.section__tours-card {
  background: var(--md-sys-color-surface-container);
  border-radius: 1rem;
  box-shadow:
    0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.section__tours-card:hover {
  transform: scale(1.02);
}

.section__tours-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.section__tours-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__tours-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--md-sys-color-surface-container-highest);
  color: var(--md-sys-color-on-surface);
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}

.section__tours-title h4 {
  font-size: 1.5rem;
  padding: 1.25rem;
}

.section__tours-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section__tours-description {
  font-size: 1.25rem;
  padding: 0rem 3rem 3rem 1.25rem;
}

.section__tours-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  margin-top: auto;
}

.section__tours-footer p {
  margin-bottom: 0;
  font-size: 2rem;
}
/* #endregion */

/* #region footer */

.section__footer {
  background-color: var(--md-sys-color-surface-dim);
  padding: 4rem;
  font-size: 2rem;
  text-align: center;
  p {
    margin-bottom: 0;
    color: var(--md-sys-color-on-surface-variant);
    font-size: 1.25rem;
  }
  #date {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 1.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

.footer__menu-icons,
.footer__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
/* #endregion */

/* #region RWD */
@media (min-width: 1150px) {
  .section__about-img::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--md-sys-color-outline);
    z-index: -1;
  }
  .section__services-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
  }

  .section__about-info {
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
      color: var(--md-sys-color-on-surface-variant);
    }
    a {
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
    }
  }
}

@media (min-width: 650px) {
  .hero {
    background:
      linear-gradient(to bottom, rgba(255, 219, 207, 0.4) 0%, var(--md-sys-color-surface) 100%),
      url(./assets/hero.jpg) center / cover;

    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
  }
}

@media (min-width: 990px) {
  .navbar .mobile-menu {
    display: none;
  }
  .navbar .main-menu {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero__container h1 {
    font-size: 5rem;
  }
  .hero__container p {
    font-size: 1.75rem;
  }

  .hero__btn {
    padding: 0.9rem 1.6rem;
    font-size: 1.25rem;
  }
  .section__about--center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 3rem;
  }

  .section__services--center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  .section__tours--center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}

/* #endregion */
